#include "xiao_ble.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    // Inverted to make the pin connections mirrored, thus more consistent
    col-gpios
        = <&xiao_d 5 GPIO_ACTIVE_HIGH> // Col 0
        , <&xiao_d 4 GPIO_ACTIVE_HIGH> // Col 1
        , <&xiao_d 3 GPIO_ACTIVE_HIGH> // Col 2
        , <&xiao_d 2 GPIO_ACTIVE_HIGH> // Col 3
        , <&xiao_d 10 GPIO_ACTIVE_HIGH> // Col 4
        , <&xiao_d 0 GPIO_ACTIVE_HIGH> // Col 5
        ;
}; 
